<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Applications Tracker</title>
    <link rel="stylesheet" href="../css/landing_page.css">
</head>
<body>
    <div class="container">
        <h4>Welcome to Job Tracker App</h4>
        <p>Your ultimate tool for managing job applications and search progress.</p>
        <button id="login" onclick="window.location.href='login.html';">LogIn</button>
        <button id="register" onclick="window.location.href='register.html';">Register</button>
    </div>
</body>
</html>

