<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/form.css">
</head>
<body>
    <div class="container">
        <form id="signup_form" method="post" onsubmit="handle_register(event)">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="Name" required>
            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="abc@xyz.com" required>
            <label for="phone">Phone</label>
            <input id="phone" name="phone" type="tel" placeholder="+91xxxxxxxxxx" required>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="********" required>
            <button type="submit">Submit</button>
        </form>
        <br>
        <button id="login" onclick="window.location.href='login.html';">Already Registered?</button>
        <div id="dynamic"></div>
    </div>
</body>
<script src="login_register_script.js"></script>
</html>