/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5px;
    background-color: burlywood;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #CD853F;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #CD853F;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    height: 100px;
}

.form {
    margin-bottom: 20px;
    width: 200%;
    padding: 5px;
}

.stats_container {
    margin-top: 40px;
    margin-bottom: 20px;
    width: auto;
}

.stats_container p {
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
    width: auto;
}

.search_container {
    margin-bottom: 20px;
    width: 40%;
    padding: 5px;
    width: auto;
}

.form-stats-search-container { 
    display: flex;
}
.buttons-stats-search-container{
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    justify-content: space-between;
}

.pagination-date-filter-container{
    display: flex;
    justify-content: space-between;
}

.pagination-controls{
    margin-top: 0px;
}

#date_filter_form{
    display: flex;
}

.applications {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border-radius: 5px;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #CD853F;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

span {
    font-size: 18px;
    font-weight: bold;
}

