/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.container {
    max-width: 400px; /* Set a maximum width for the container */
    width: 100%; /* Make it responsive */
    padding: 20px;
    background-color: #fff; /* Use a lighter background color for contrast */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

button {
    background-color: #CD853F;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #8B4513; /* Slightly darker shade on hover */
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#register, #login {
    background-color: transparent;
    color: #CD853F;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#register:hover, #login:hover {
    text-decoration: underline; /* Add underline on hover */
}

#dynamic {
    margin-top: 20px;
    color: #CD853F;
    text-align: center;
}
